@import 'colors';

.app {
  background-color: rgb(23, 37, 66);
  height: 100vh;
  display: flex;
  flex-direction: column;

  .board {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    flex-grow: 1;
    align-items: flex-start;
  }
}