@import 'colors';

.card {
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px 10px;
  transition: ease .3s;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 1px;
  }
  
  &:hover, &:active {
    background-color: #f2f4f8;
    transition: ease .3s;
  }

  span {
    font-size: .8em;
    color: $dark-blue;
    user-select: none;
  }

  .actions {
    display: flex;
    align-items: center;

    button {
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      outline: none;
      margin-left: 5px;
      user-select: none;
    }
  }
}